vcsh.1
*.patch
*.swp
.swp
*.bak
.version
.version-prev
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/install-sh
build-aux/missing
completions/_vcsh
completions/vcsh
config.log
config.status
configure
/vcsh
vcsh-*
debian/debhelper-build-stamp
