Richard Hartmann <richih@debian.org> <richih+github.com@richih.org>
Richard Hartmann <richih@debian.org> <richih.mailinglist@gmail.com>
Richard Hartmann <richih@debian.org> <RichiH@users.noreply.github.com>
Alexander Skurikhin <a.skurihin@gmail.com> <a.skurihin@gmail.com>
